<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
<br><br><br>
<div class="row">
  <div class="column">
    <mat-card class="example-card" style="background-color: #eee">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <h1>0,00 €/month</h1>
      </mat-card-header>
      <br>
      <mat-card-content>
        <h5>&#10004; Free Realtime News Access</h5><br>
        <h5>&#10004; Free Financial Data Access</h5><br>
        <h5>&#10004; Free Data Vizualisation</h5><br>
        <h5>&#10004; 1 Portoflio Per Day</h5><br>
        <h5>&#10004; CAC40 Assets Only</h5>
        <!-- <p class="line">1 Portoflio Per Day</p> -->
      </mat-card-content>
    </mat-card>
  </div>

  <div class="column">
    <mat-card class="example-card" style="background-color: #eff">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <h1>4,99 €/month</h1>
      </mat-card-header>
      <br>
      <mat-card-content>
        <h5>&#10004; Free Realtime News Access</h5><br>
        <h5>&#10004; Free Financial Data Access</h5><br>
        <h5>&#10004; Free Data Vizualisation</h5><br>
        <h5>&#10004; 5 Portoflios Per Day</h5><br>
        <h5>&#10004; European Assets Only</h5>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="column">
    <mat-card class="example-card" style="background-color: #efe">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <h1>9,99 €/month</h1>
      </mat-card-header>
      <br>
      <mat-card-content>
        <h5>&#10004; Free Realtime News Access</h5><br>
        <h5>&#10004; Free Financial Data Access</h5><br>
        <h5>&#10004; Free Data Vizualisation</h5><br>
        <h5>&#10004; Unlimited Portoflios Per Day</h5><br>
        <h5>&#10004; Unlimited Assets</h5>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<h3>Your Questions Our Answers</h3>
<div class="w-100 p-3">
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background-color: #eee">
      <mat-panel-title>
        Why Prisma?
      </mat-panel-title>

    </mat-expansion-panel-header>

    <p>Today, the project is represented by a symbol,the prism. Indeed, the aim of this project is to bring
      for a request, a different solution panel. This is what our application is the first to claim
      message given to the customer</p>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background-color: #eee">
      <mat-panel-title>
        Why you and not another one?
      </mat-panel-title>

    </mat-expansion-panel-header>

    <p>Our project will not spread misinformation, but will offer
      investment suggestions that best meet the client's requirements based solely on the condition
      market and on a statistical study of the potential evolution of the market using the machine.
      Learning</p>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="background-color: #eee">
      <mat-panel-title>
        Why those prices?
      </mat-panel-title>

    </mat-expansion-panel-header>

    <p>After a study on what we can find on the market, we decided to follow online banking prices.
    In comparison to what an asset manager or a professional can offer you, we are much cheaper than them.
    Knowing that it can goes from 90 to 300 per apointment.</p>

  </mat-expansion-panel>

</div>