<div class="container">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <div class="row">
  
    <div class="row-one">
      <div class="column1">
        <div class="home-text ">S E E . S E A R C H . I N V E S T</div><br/>
        <div class="home-text-light">
            With P R I S M A, discover the world of investment and financial portfolio management and start modeling equity portfolios . P R I S M A is here to show you solutions that you never even imagined.
        </div><br/>
        <div style="margin-left: 290px">
        <a routerLink="login"><button class="btn" mat-button>D I S C O V E R</button></a>
        </div>
      </div>
      <div class="column2">
        <img src="../assets/img/ordi.jpg" 
          style="display: block; 
          width: 100%; 
          margin-left: auto; 
          margin-right: auto;
          width:720px; 
          height:500px; 
          margin-top: auto;
          margin-bottom: auto" >
      </div>
    </div>
  
    <div class="row-bis">
      <div class="column-three">
        <div class="News"></div>
          <img src="../assets/img/image4.png" 
          style="display: block; 
          width:165px;
          height:165px;
          background-size: 100px 100px;
          background-repeat:no-repeat;
          margin-left: auto;
          padding-left:10px;
          margin-right: auto;
          margin-top: 75px" >
        <div class="home-text-column">
          DO YOU WANT TO UNDERSTAND THE FINANCIAL MARKET DATA ?
        </div>
        <div class="home-text-light">
          P R I S M A offers you easy access to world news. 
        </div>
      </div>
      <div class="column-three">
        <div class="portfolio"></div>
        <img src="../assets/img/image3.png" 
        style="display: block; 
        width:170px;
        height:170px;
        background-size: 100px 100px;
        background-repeat:no-repeat;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px">
        <div class="home-text-column">
            DO YOU WANT TO ACCESS TO THE FINANCIAL MARKET DATA ?
        </div>
        <div class="home-text-light">
            P R I S M A offers you easy access to market data, thus avoiding having to change sites to access the information you need.
        </div>
      </div>
      <div class="column-three">
        <div class="pricing"></div>
        <img src="../assets/img/image2.png" 
        style="display: block; 
        width:170px;
        height:170px;
        background-size: 100px 100px;
        background-repeat:no-repeat;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px" >
        <div class="home-text-column">
            DO WANT TO CREATE AND COMPARE ACTION PORTFOLIOS ?
        </div>
        <div class="home-text-light">
            P R I S M A offers you a portfolio set corresponding to your educational and understanding criteria for the financial market.
        </div>
      </div>
    </div>
  
    <div class="row-ter">
      <div class="columndouble">
        <div class="NewsO"></div>
        <div class="home-text-part-Title ">A C C E S S . T O . N E W S</div><br/>
        <div class="home-text-part">
            The news makes up our daily life and we all want to inform ourselves about the world. You should know that each action has consequences and the financial market suffers this impact head on. PRISMA offers quick and easy access to all the news, allowing you to understand financial flows and estimates for the future, as well as the portfolios on offer.          
        </div><br/>
        <div style="margin-left: 500px">
        <a routerLink="news"><button class="btn" mat-button>N E W S > </button></a>
      </div>
      </div>
      <div class="columndouble">
        <img src="../assets/img/news.png" 
        style="display: block; 
          width: 100%; 
          margin-left: auto; 
          margin-right: auto;
          width:720px; 
          height:400px; 
          margin-top: auto;
          margin-bottom: auto" >
      </div>
    </div>
      
    <div class="row-quat">
      <div class="columndouble">
        <img src="../assets/img/pricing.jpg" 
        style="display: block; 
          width: 100%; 
          margin-left: auto; 
          margin-right: auto;
          width:720px; 
          height:400px; 
          margin-top: auto;
          margin-bottom: auto" >
      </div>
      <div class="columndouble">
        <div class="NewsO"></div>
        <div class="home-text-part-Title ">A C C E S S . T O . M A R K E T . D A T A</div><br/>
        <div class="home-text-part">
            Build a portfolio yes, but for that you need to be able to inform yourself and nothing better than having direct access to all of the financial data as real in the world of market products. PRISMA allows this quick and easy access so that you can search for the necessary information on the same platform and that you can make the best use of the portfolio creation tool offered.            
        </div><br/>
        <div style="margin-left: 450px">
        <a routerLink="pricing"><button class="btn" mat-button> D A T A . A C C E S S > </button></a>
      </div>
      </div>
    </div>
      
    <div class="row-five">
      <div class="columndouble">
        <div class="NewsO"></div>
        <div class="home-text-part-Title ">B U I L D . Y O U R . O W N . P O R T F O L I O</div><br/>
        <div class="home-text-part">
          The world of financial markets remains a world accessible only to a minority of people. Fear of commitment? lack of knowledge? P R I S M A has put a tool in place for you so that you can know your first experience in the world of investment and finance in order to create your action portfolio. The latter sends you back a modeling following your criteria and options are offered to you so that you can better understand the issues and the realities of a request and a financial objective.             
        </div><br/>
        <div style="margin-left: 300px">
        <a routerLink="portfolio"><button class="btn" mat-button>P O R T F O L I O . C O N S T R U C T I O N > </button></a>
      </div>
      </div>
      <div class="columndouble">
        <img src="../assets/img/portfolio2.jpg" 
        style="display: block; 
          width: 100%; 
          margin-left: auto; 
          margin-right: auto;
          width:720px; 
          height:400px; 
          margin-top: auto;
          margin-bottom: auto" >
      </div>
    </div>
  
  </div>
  
  
  